:root {
	--input-border-color-default: #8d8d8d;
	--input-border-color-hover: #000;
	--input-border-color-focus: #4ea4f6;
	--input-border-color-error: #e6322c;
  --input-border-color-valid: #11b634;
  --btn-background-hover: rgba(0, 0, 0, 0.08);
}

#app {
  position: relative;
	display: flex;
	max-width: 1920px;
	border-right: 1px solid var(--btn-background-hover);
	border-left: 1px solid var(--btn-background-hover);
	margin: 0 auto;
}

*, :after, :before {
	padding: 0;
	margin: 0;
	font-family: roboto;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
	-ms-user-select: none;
}

span, label, input {
  font-size: 14px;
}

a {
  color: var(--input-border-color-focus);
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.space {
	height: 20px;
}

/* Custom scroll bar */

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}
 
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
  height: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Material design input */

.input-group {
  position: relative;
  margin: 0 10px;
}

.input-group .input-area {
	outline: none;
	border: 1px solid var(--input-border-color-default);
	padding: 15px 13px;
  font-size: 16px;
  border-radius: 10px;
  width: 100%;
}

.input-group .input-area:hover {
	border: 1px solid var(--input-border-color-hover);
}

.input-group .input-area:focus {
	border: 2px solid var(--input-border-color-focus);
}

.input-group .input-area:focus + .label, .input-group .input-area:valid + .label {
	top: -8px;
	padding: 0 3px;
	font-size: 14px;
	background: #fff;
}

.input-group .input-area:valid + .label {
	color: var(--input-border-color-default);
}

.input-group .input-area:focus + .label {
	color: var(--input-border-color-focus);
}

.input-group .label {
	color: var(--input-border-color-default);
	position: absolute;
	top: 17px;
	left: 13px;
  transition: .1s;
  cursor: text;
}

.input-error .input-area, .input-error .input-area:hover, .input-error .input-area:focus, .input-error .input-area:valid {
  border: 2px solid var(--input-border-color-error);
}

.input-error .input-area:focus + .label, .input-error .input-area:valid + .label {
  color: var(--input-border-color-error)
}

.input-valid .input-area, .input-valid .input-area:hover, .input-valid .input-area:focus, .input-valid .input-area:valid {
  border: 2px solid var(--input-border-color-valid);
}

.input-valid .input-area:focus + .label, .input-valid .input-area:valid + .label {
  color: var(--input-border-color-valid)
}

/* End material design input */

.search-input-group {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 50px;
  border: 1.5px solid transparent;
  background: #dadada54;
}

.search-input-group label {
  height: 23px;
  order: 1;
}

.search-input-group .input-area {
  padding: 2px;
  margin-left: 5px;
  border: none;
  width: 98%;
  outline: none;
  order: 2;
  background: transparent;
}

.search-input-group .input-area::placeholder {
  color: #9e9e9e;
}

.focusSearch {
  border: 1.5px solid var(--input-border-color-focus);
  background: transparent;
}

.focusSearch img {
  filter: invert(76%) sepia(44%) saturate(5761%) hue-rotate(184deg) brightness(97%) contrast(99%);
}

.btn{
	font-size: 18px;
	position: relative;
	padding: 10px;
	border: none;
	border-radius: 15px;
	outline: none;
	overflow: hidden;
  cursor: pointer;
  display: flex;
	align-items: center;
  color: #000;
}

.btn:hover:after, .header-search .btn.active:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.btn .btn-ripple{
	position: absolute;
	border-radius: 100%;
	animation: ripple 1s;
	transform: scale(0);
}

.btn-blue:hover:after, .btn-blue .btn-ripple, .header-search .btn.btn-blue.active:after{
  background: var(--btn-background-hover);
}

.btn-white:hover:after, .btn-white .btn-ripple, .header-search .btn.btn-white.active:after{
  background: rgb(112, 117, 121, .08);
}

.btn-blue {
  background: var(--input-border-color-focus);
  color: #fff;
}

.btn-white {
	background: #fff;
}

.color-blue {
  color: #4ea4f6;
}

.color-red {
  color: var(--input-border-color-error);
}

.btn .content {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
}

.btn-account .content{
  padding-left: 10px;
}

.btn .account-img, .btn .account-icon, .autocomplete-item .account-img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.btn .account-icon {
  background: var(--btn-background-hover);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn .account-icon.saved {
  background: var(--input-border-color-focus);
}

.btn .account-icon .icon {
  width: 45px;
}

.account-icon.sticker {
  border-radius: 0;
  background: none;
}

.btn .name, .input-name {
  font-size: 16px;
  font-weight: 500;
}

.btn .title, .checkbox-content .title {
  font-weight: 500;
}

.btn .info, .btn .date {
  color: #707579;
  font-size: 14px;
  padding-top: 5px;
}

.btn .online {
  color: var(--input-border-color-focus);
}

.account .status.online{
  color: var(--input-border-color-focus)
}

.btn .date {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 13px;
  font-weight: 500;
}

.btn .number-message {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  min-width: 25px;
  width: max-content;
  height: 25px;
  margin-top: 5px;
  font-weight: 500;
  color: white;
  text-align: center;
  vertical-align: center;
  padding: 7px;
}

.btn .number-message span {
  font-size: 13px;
}

.btn .number-message.img {
  padding: 0;
}

.bg-muteon {
  background: #2fca00;
}

.bg-muteoff {
  background: #cfcfcf;
}

.btn .content-right {
  padding-left: 20px;
  max-width: max-content;
  align-items: flex-end;
}

.btn .content-right .date {
  position: static;
  padding: 0px;
}

.btn .content-right .content-top {
  display: flex;
  align-items: center;
}

.btn .content-right .content-top img {
  padding-right: 5px;
}

.btn-text .content {
  padding: 0;
}

.btn-text .device {
  padding-top: 5px;
  font-weight: 500;
}

.btn-add, .btn-round {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
  padding: 0;
  min-width: 35px;
	min-height: 35px;
}

.btn-add {
	width: 55px;
  height: 55px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.btn-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: max-content;
  padding: 10px 15px;
}

.btn-vertical img {
  width: 50px !important;
  height: 50px !important;
}

.btn-vertical .content{
  padding-left: 0;
  padding-top: 10px;
}

.btn-vertical .name {
  font-size: 14px;
}

.btn-input-content {
  display: flex;
  padding-left: 20px;
}

.btn-checked {
  background: var(--btn-background-hover);
}

.icon {
	width: 23px;
}

.icon-gray {
  filter: invert(52%) sepia(0%) saturate(459%) hue-rotate(191deg) brightness(89%) contrast(91%);
}

.icon-light-gray {
	filter: invert(65%) sepia(2%) saturate(12%) hue-rotate(314deg) brightness(100%) contrast(78%);
}

.icon-white {
	filter: invert(100%) sepia(0%) saturate(7457%) hue-rotate(80deg) brightness(106%) contrast(105%);
}

.icon-red {
	filter: invert(23%) sepia(42%) saturate(4796%) hue-rotate(350deg) brightness(113%) contrast(82%);
}

.icon-green {
	filter: invert(44%) sepia(82%) saturate(1048%) hue-rotate(67deg) brightness(106%) contrast(117%);
}

@keyframes ripple {
	100%{
		transform: scale(2);
		opacity: 0;
	}
}

/* Chats */

.chat__body {
  display: flex;
  width: 100%;
  height: 100%;
}

.messages {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  margin: 0 40px;
}

.message {
  align-self: flex-start;
  display: flex;
  align-items: center;
  
  position: relative;
  max-width: 420px;
  
  background-color: #fff;
  margin-bottom: 8px;
  border-radius: 10px;
  
  z-index: 2;
	box-shadow: 0 1px 1px 0 rgba(160,172,182,.5);
	padding-bottom: 10px;
}

.message.my-message {
  align-self: flex-end;
  background-color: #effdde;
  box-shadow: 0 1px 1px 0 rgba(160,172,182,.5);
}

.message.droplet:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: -8px;
  width: 12px;
  height: 1px;
  background-color: inherit;
  z-index: 1;
  box-shadow: 0px 1px 1px 0px rgba(160,172,182,.5);
}
.message.droplet:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: -10px;
  width: 16px;
  height: 10px;
  clip-path: url(#left-droplet);
  background-color: inherit;
  z-index: 1;
  box-shadow: 0 2px 1px 0 rgba(160,172,182,.5);
}

.message.my-message.droplet:before {
  right: -8px;
  left: initial;
  box-shadow: 0px 1px 1px 0px rgba(160,172,182,.5);
}
.message.my-message.droplet:after {
  right: -10px;
  left: initial;
  clip-path: url(#right-droplet);
}

.message__text,
.message__image__text .message__text__content {
  padding: 10px;
  z-index: 2;
}

.message__time {
	position: absolute;
	bottom: 3px;
	right: 5px;
  text-align: right;
  font-size: 12px;
  color: #a0acb6;
}
.my-message .message__time {
  color: #5dc452;
}
.message__image .message__time {
  display: block;
  float: initial;
  position: absolute;
  bottom: 4px;
  right: 4px;
  padding: 4px;
  color: #fff;
  background-color: rgba(38,50,56,.5);
  border-radius: 6px;
  transition: opacity .2s linear;
  opacity: 0;
}
.message__image:hover .message__time {
  opacity: 1;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
  overflow-y: auto;
  max-height: 500px;
  z-index: 99;
  top: 120%;
  left: 0;
  right: 0;

  -webkit-box-shadow: 0px 8px 34px 0px rgba(176,176,176,1);
  -moz-box-shadow: 0px 8px 34px 0px rgba(176,176,176,1);
  box-shadow: 0px 8px 34px 0px rgba(176,176,176,1);
}

.autocomplete-items div {
  padding: 15px;
  cursor: pointer;
  background-color: #fff; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #eee;
}

/*when navigating through the items using the arrow keys:*/

.autocomplete-active {
  background-color: var(--input-border-color-focus) !important; 
  color: #ffffff; 
}

.autocomplete-item {
  display: flex;
  align-items: center;
}

.autocomplete-item .text {
  padding-left: 20px;
  font-weight: 500;
  flex: 1;
}

.autocomplete-item strong {
  color: var(--input-border-color-focus);
}

.autocomplete-item .tooltip {
  text-align: right;
  color: var(--input-border-color-default);
}

.autocomplete-active strong {
  color: #000;
}

.autocomplete-active .tooltip {
  color: #ffffff;
}


.range {
  margin: 0 10px;
}

.range .content {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.range .text {
  font-size: 16px;
  font-weight: 500;
  flex: 1;
}

.range .value {
  color: var(--input-border-color-default)
}

input[type='range'] {
	-webkit-appearance: none;
  position: relative;
  outline: none;
  background: #eee;
  width: 100%;
  margin-bottom: 10px;
}
input[type='range']::-webkit-slider-runnable-track {
	width: 300px;
  height: 3px;
  border: none;
  border-radius: 3px;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: var(--input-border-color-focus);
  /* border: 2px solid #515151; */
  margin-top: -5px;
  /* cursor: pointer; */
  cursor: ew-resize;
}

/** Firefox*/

input[type="range"]::-moz-range-progress {
  width: 100%
}


input[type="range"]::-moz-range-progress {
  background-color: #43e5f7;
}

input[type="range"]::-moz-range-track {
  background-color: #9a905d;
}

/* IE*/

input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7;
}

input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}

.dialog {
  -webkit-box-shadow: 0px 8px 34px 0px rgba(176,176,176,1);
  -moz-box-shadow: 0px 8px 34px 0px rgba(176,176,176,1);
  box-shadow: 0px 8px 34px 0px rgba(176,176,176,1);
  width: max-content;
  height: max-content;
  border-radius: 10px;
  overflow: hidden;
  width: 210px;
  position: absolute;
  z-index: 9;
}

.dialog .item {
  border-radius: 0;
  padding: 15px 15px;
}

.dialog .item .text{
  padding-left: 30px;
  font-weight: 500;
  flex: 1;
}

.dialog .number-message {
  margin: 0;
}

/* Tabs */

.tab-menu {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 5;
  background: #fff;
  border-bottom: solid 1px var(--btn-background-hover);
}

.tab-index {
  color: var(--input-border-color-default);
  padding: 0.5em 0;
  text-transform: capitalize;
  cursor: pointer;
  /* flex: 1; */
  max-width: 100px;
  text-align: center;
  font-weight: bold; 
  letter-spacing: 1px;
}

.tab-index.selected {
  border-bottom: solid 2px var(--input-border-color-focus); 
  color: var(--input-border-color-focus); 
}

.tab-content {
}

#media {
  padding: 0;
}

.tab-content > div:not(#media) {
  padding: 5px 10px 10px 10px;

}

.tab-content > div:not(.selected) {
  display: none;
}

/* link btns */
.btn-link {
  align-items: flex-start;
}

.link-img {
  border-radius: 10px !important;
}

.btn-link .link {
  color: var(--input-border-color-focus)
}

/* doc bts */
.docs-img-container{
  position: relative;
}

.docs-icon {
  background: transparent !important;
}

.docs-icon > img {
  width: 100%;
  height: 100%;
  border-radius: 5px !important;
  object-fit: cover;
}

.hide {
  display: none !important;
}

.docs-img-container .download-content, .docs-img-container .load-content {
  position: relative;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-red {
  background: var(--input-border-color-error);
}

.bg-green {
  background: var(--input-border-color-valid);
}

.bg-blue {
  background: var(--input-border-color-focus);
}

.bg-orange {
  background: #e08702;
}

.docs-img-container .download-content .icon{
  width: 25px;
}

.load-content .icon , .load-content .loader{
  position: absolute;
}

.docs-img-container .load-content .loader {
  width: 45px;
  height: 45px;
}

/* Loader */
.loader {
  position: relative;
  margin: 0px auto;
  width: 200px;
  height:200px;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular-loader {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.loader-path {
  stroke-dasharray: 150,200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}

/* audio player */
.audio-group {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.btn-play {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-play .icon {
  width: 30px;
  height: 30px;
}

.audio-group .content {
  padding-left: 10px;
}

.audio-group .content .name {
  padding-bottom: 2px;
  font-weight: 500;
}

.audio-group .content .info {
  font-size: 14px;
  font-weight: 500;
  color: var(--input-border-color-default);
  padding-bottom: 3px;
}

.audio-group .content .range {
  margin: 0;
}

.audio-group .download-content, .load-content {
  position: relative;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-group .download-content .icon{
  width: 25px;
}

.load-content .icon , .load-content .loader{
  position: absolute;
}

.audio-group .load-content .loader {
  width: 55px;
  height: 55px;
}

/* Info right sidebar */

.info {
  padding: 0;
}

.info .subsection {
  padding: 10px 20px;
}

.info .subsection.tabs-section {
  padding: 0;
}

/* Chat */
#chat {
  flex: 1;
  background: #eee;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("https://raw.githubusercontent.com/telegramdesktop/tdesktop/dev/Telegram/Resources/art/bg_initial.jpg");
  background-position-y: -54px;
  background-attachment: fixed;
}

.footer {
	padding: 10px 50px 20px 50px;
}

.footer-content {
	display: flex;
	align-items: center;
}

.footer-content .message-block {
	position: relative;
  display: flex;
  padding: 5px;
  flex: 1;
  background: #fff;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0px 0px 3px 1px rgba(160,172,182,.5)
}

.footer-content .message-block.droplet:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 10px;
  background-color: inherit;
  z-index: 2;
  box-shadow: 0 2px 1px 0 rgba(160,172,182,.5);
  right: -10px;
  bottom: 0;
  clip-path: url(#right-droplet);
}

.voice-btn {
  min-width: 45px;
  min-height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 0px 0px 3px 1px rgba(160,172,182,.5)
}

.footer-content .message-block .btn {
  background: transparent;
}

.footer-content .message-input {
	flex: 1;
	margin: 10px;
	border: none;
	outline: none;
	height: 18px;
	max-height: 40vh;
	width: 100%;
	resize: vertical;
}