:root {
	--input-border-color-default: #8d8d8d;
	--input-border-color-hover: #000;
	--input-border-color-focus: #4ea4f6;
}

*, :after, :before {
	padding: 0;
	margin: 0;
	font-family: roboto;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Material design input */

.input-group {
	position: relative;
}

.input-group .input-area {
	outline: none;
	border: 1px solid var(--input-border-color-default);
	padding: 16px 13px;
	font-size: 18px;
	border-radius: 15px;
}

.input-group .input-area:hover {
	border: 1px solid var(--input-border-color-hover);
}

.input-group .input-area:focus {
	border: 2px solid var(--input-border-color-focus);
}

.input-group .input-area:focus + .label, .input-group .input-area:valid + .label {
	top: -8px;
	padding: 0 3px;
	font-size: 14px;
	background: #fff;
}

.input-group .input-area:valid + .label {
	color: var(--input-border-color-default);
}

.input-group .input-area:focus + .label {
	color: var(--input-border-color-focus);
}

.input-group .label {
	color: var(--input-border-color-default);
	position: absolute;
	top: 20px;
	left: 13px;
	transition: .1s;
} 

/* End material design input */

.space {
	height: 20px;
}

.btn{
	font-size: 18px;
	position: relative;
	padding: 15px 25px;
	border: none;
	border-radius: 15px;
	outline: none;
	overflow: hidden;
	cursor: pointer;
}

.btn:hover:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.btn .btn-ripple{
	position: absolute;
	border-radius: 100%;
	animation: ripple 1s;
	transform: scale(0);
}

.btn-blue {
	background: #4ea4f6;
	color: #fff;
}

.btn-blue:hover:after{
	background: rgba(0, 0, 0, 0.08);
}

.btn-blue .btn-ripple{
	background: rgba(0, 0, 0, 0.08);
}

.btn-white {
	background: #fff;
	color: #4ea4f6;
}

.btn-white:hover:after{
	background: rgb(112, 117, 121, .08);
}

.btn-white .btn-ripple{
	background: rgb(112, 117, 121, .08);
}

.btn-img {
	display: flex;
	align-items: center;
  color: #000;
  padding: 15px 15px;
}

.btn-img span {
  padding-left: 20px;
  font-size: 19px;
}

.icon {
	width: 30px;
}

.btn-add, .btn-round {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	padding: 0;
}

.btn-add {
	width: 70px;
	height: 70px;
}

.btn-round {
	width: 50px;
	height: 50px;
}

.btn-add .icon {
	width: 40px;
}

@keyframes ripple {
	100%{
		transform: scale(2);
		opacity: 0;
	}
}

.icon-gray {
	filter: invert(37%) sepia(10%) saturate(4%) hue-rotate(60deg) brightness(105%) contrast(83%);
}

.icon-white {
	filter: invert(100%) sepia(0%) saturate(7457%) hue-rotate(80deg) brightness(106%) contrast(105%);
}

.chat__body {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("https://raw.githubusercontent.com/telegramdesktop/tdesktop/dev/Telegram/Resources/art/bg_initial.jpg");
  background-position-y: -54px;
  background-attachment: fixed;
}
.messages {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 6px;
}

.message {
  align-self: flex-start;
  display: flex;
  align-items: center;
    
  position: relative;
  
  min-height: 30px;
  max-width: 420px;
  
  background-color: #fff;
  margin-bottom: 8px;
  border-radius: 6px;
  
  z-index: 2;
  
  box-shadow: 0 2px 1px 0 rgba(160,172,182,.5);
}

.message.my-message {
  align-self: flex-end;
  background-color: #effdde;
  box-shadow: 0 2px 1px 0 rgba(93,196,82,.5);
}

.message.droplet:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: -8px;
  width: 12px;
  height: 1px;
  background-color: inherit;
  z-index: 1;
  box-shadow: 0px 1px 1px 1px rgba(160,172,182,.5);
}
.message.droplet:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: -10px;
  width: 16px;
  height: 10px;
  clip-path: url(#left-droplet);
  background-color: inherit;
  z-index: 1;
  box-shadow: 0 2px 1px 0 rgba(160,172,182,.5);
}

.message.my-message.droplet:before {
  right: -8px;
  left: initial;
  box-shadow: 0px 1px 1px 1px rgba(93,196,82,.5);
}
.message.my-message.droplet:after {
  right: -10px;
  left: initial;
  clip-path: url(#right-droplet);
}

.message__text,
.message__image__text .message__text__content {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 2;
}

.message__image,
.message__image__text {
  position: relative;
  z-index: 2;
}
.message__image {
  border-radius: 6px;
}
.message__image__content {
  border-radius: 6px;
  margin-bottom: -3px;
  max-width: 100%;
}

.message__time {
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  text-align: right;
  font-size: 12px;
  color: #a0acb6;
}
.my-message .message__time {
  color: #5dc452;
}
.message__image .message__time {
  display: block;
  float: initial;
  position: absolute;
  bottom: 4px;
  right: 4px;
  padding: 4px;
  color: #fff;
  background-color: rgba(38,50,56,.5);
  border-radius: 6px;
  transition: opacity .2s linear;
  opacity: 0;
}
.message__image:hover .message__time {
  opacity: 1;
}